{% if include.selector %} {% assign selector = include.selector %} {% endif %}
{% if include.seed %} {% assign seed = include.seed %} {% endif %}

<script>
    if (document.cookie.indexOf("cookie-consent-statistics=true") != -1) {
        var script = document.createElement("script");
        script.src =
            "https://cdnjs.cloudflare.com/ajax/libs/geopattern/1.2.3/js/geopattern.min.js";
        script.onload = function () {
            function setRandomBgImage(selector, seed) {
                var pattern = GeoPattern.generate(seed);
                var element = document.querySelector(selector);
                if (element) {
                    element.style.backgroundImage = pattern.toDataUrl();
                }
            }

            setRandomBgImage("{{ selector }}", "{{ seed }}");
        };
        document.body.appendChild(script);
    }
</script>
