<script>
    function hashLocate(hashValue) {
        hashValue = hashValue.replace(/^.*#h-/, "");
        hashValue = decodeURIComponent(hashValue);
        var element = document.getElementById(hashValue);

        if (!element) {
            return;
        }

        var header = document.querySelector("header.site-header");
        var headerRect = header.getBoundingClientRect();
        var headerTop = Math.floor(headerRect.top);
        var headerHeight = Math.floor(headerRect.height);
        var scrollPos = getScrollPos();
        var offsetY = element.offsetTop - (headerTop + headerHeight + 20);

        if (offsetY == scrollPos.y) {
            return;
        }

        if (headerTop == 0 && offsetY > scrollPos.y) {
            offsetY += headerHeight + 2;
        } else if (headerTop < 0 && offsetY < scrollPos.y) {
            offsetY -= headerHeight - 2;
        }

        smoothScrollTo(offsetY);
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(";");
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == " ") c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0)
                return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    var settings = JSON.parse(getCookie("cookie-settings") || "{}");
    if (settings.hashlocate) {
        window.addEventListener("load", function (event) {
            if (window.location.hash) {
                hashLocate(window.location.hash);
            }
        });

        window.addEventListener("click", function (event) {
            if (event.target.tagName.toLowerCase() == "a") {
                hashLocate(event.target.getAttribute("href"));
            }
        });
    }
</script>
