<script>
    if (document.cookie.indexOf("cookie-consent-statistics=true") != -1) {
        var pswpLink = document.createElement("link");
        pswpLink.href =
            "//cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.7/photoswipe.min.css";
        pswpLink.rel = "stylesheet";
        document.head.appendChild(pswpLink);

        var pswpLightboxScript = document.createElement("script");
        pswpLightboxScript.src =
            "//cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.7/umd/photoswipe-lightbox.umd.min.js";
        pswpLightboxScript.async = true;
        document.body.appendChild(pswpLightboxScript);

        var pswpScript = document.createElement("script");
        pswpScript.src =
            "//cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.7/umd/photoswipe.umd.min.js";
        pswpScript.async = true;
        document.body.appendChild(pswpScript);

        pswpScript.onload = function () {
            function initPhotoSwipe() {
                let customOptions = {};

                try {
                    const data = `{{ site.photo_previewer }}`.replaceAll(
                        "=>",
                        ":",
                    );
                    customOptions = JSON.parse(data);
                } catch (e) {
                    console.info(
                        "Invalid custom photo previewer options! " + e.message,
                    );
                }

                // Define object and gallery options
                const options = Object.assign(
                    {
                        gallery: "section.main",
                        children: "a.photo-swipe",
                        photo_scale: 2,
                        // dynamic import is not supported in UMD version
                        pswpModule: PhotoSwipe,
                    },
                    customOptions,
                );

                const galleryEl = document.querySelector(options.gallery);
                if (!galleryEl) {
                    return;
                }

                const imgEls = [];
                const els = galleryEl.querySelectorAll("img:not(.emoji)");
                els.forEach((el) => {
                    if (el.src.trim() == "") {
                        return;
                    }
                    if (!imgEls.includes(el)) {
                        imgEls.push(el);
                    }
                });

                if (imgEls.length === 0) {
                    return;
                }

                imgEls.forEach((imgEl) => {
                    imgEl.outerHTML = `
          <a class="photo-swipe"
            href="${imgEl.src}"
            data-pswp-width="${
                Math.max(imgEl.naturalWidth, imgEl.width) * options.photo_scale
            }"
            data-pswp-height="${
                Math.max(imgEl.naturalHeight, imgEl.height) *
                options.photo_scale
            }"
            data-pswp-caption="${imgEl.getAttribute("caption") || imgEl.alt}"
            target="_blank">
            ${imgEl.outerHTML}
          </a>`;
                });

                // Initialize PhotoSwipe 5
                var lightbox = new PhotoSwipeLightbox(options);

                lightbox.init();
            }

            window.addEventListener("load", initPhotoSwipe);
        };
    }
</script>

<style>
    .pswp .pswp__container .pswp__img {
        background-color: white;
    }
</style>
