---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Default theme colors
$theme-colors: (
  "coolblack": #090a0b,
  "spacegrey": #353535,
  "snowwhite": #ffffff,
);

// Default brand colors
$brand-colors: (
  "orangered": #ff5100,
  "greatgold": #f2cb05,
  "greenblue": #389092,
);

$theme-name: "{{ site.theme_color }}";
$brand-name: "{{ site.brand_color }}";
$theme-color: map-get($theme-colors, "snowwhite");
$brand-color: map-get($brand-colors, "orangered");

@if map-has-key($theme-colors, $theme-name) {
  $theme-color: map-get($theme-colors, $theme-name);
} @else if str-index($theme-name, "#") == 1 {
  $theme-color: {{ site.theme_color | default: '#ffffff' }};
}

@if map-has-key($brand-colors, $brand-name) {
  $brand-color: map-get($brand-colors, $brand-name);
} @else if str-index($brand-name, "#") == 1 {
  $brand-color: {{ site.brand_color | default: '#ff5100' }};
}

$content-width: {{ site.content_width | default: '920px' }};

// Click to top theme
$click-to-top-light-background-color: {{ site.click_to_top.light.background_color | default: "white" }};
$click-to-top-light-color: {{ site.click_to_top.light.color | default: "#454545" }};
$click-to-top-dark-background-color: {{ site.click_to_top.dark.background_color | default: "#34323d" }};
$click-to-top-dark-color: {{ site.click_to_top.dark.color | default: "#bbb" }};

// Selection styles
$selection-color: unquote("{{ site.selection.color }}");
$selection-background-color: unquote("{{ site.selection.background_color }}");

@if $selection-color == "" {
  $selection-color: inherit;
}
@if $selection-background-color == "" {
  $selection-background-color: rgba(invert($brand-color), 0.3);
}

@import "yat";

.box-note, .box-warning, .box-error {
  position: relative;
  border-left: 5px solid transparent;
  padding: 10px;
  background-color: transparent;
  margin-bottom: 10px;
}

.box-note::before, .box-warning::before, .box-error::before {
  content: attr(data-title);
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.box-note {
  border-color: green;
}

.box-note::before {
  color: green;
  content: url('data:image/svg+xml;utf8,<svg class="octicon octicon-info mr-2" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true" fill="green"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg>') " Note";
}

.box-warning {
  border-color: yellow;
}

.box-warning::before {
  color: yellow;
  content: "Warning";
}

.box-error {
  border-color: red;
}

.box-error::before {
  color: red;
  content: "Error";
}
