// main.scss

// Define the primary and secondary colors based on the logo
$primary-color: #003366; // Dark blue from the logo
$secondary-color: #6699cc; // Light blue from the logo

// Other colors can be defined here if needed

// Body styles
body {
    background-color: $primary-color;
    color: #fff; // white text for better contrast
}

// Header styles
header {
    background-color: $secondary-color;
    color: $primary-color;
}

// Link styles
a {
    color: $secondary-color;

    &:hover {
        color: lighten($secondary-color, 10%);
    }
}

// Button styles
button {
    background-color: $secondary-color;
    color: $primary-color;

    &:hover {
        background-color: lighten($secondary-color, 10%);
    }
}

// Other elements can be styled similarly
// Add additional styles as needed

.rounded-image {
    width: 200px; /* Größe des Kreises */
    height: 200px; /* Größe des Kreises */
    border-radius: 50%; /* Macht das Bild rund */
    overflow: hidden; /* Verhindert, dass der Bildinhalt überläuft */
    display: block; /* Zentrales Bild */
    margin: 0 auto; /* Zentriert das Bild horizontal */
}
